.flexi_core{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.decentra_mobile{
    width: 250px;
}
.core_head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #1B1B1B;
    /* margin-left: 100px; */
}

.core_para{
    width: 600.19px;
    font-family: Poppins;
    font-style: normal;
<<<<<<< HEAD
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #383838;
=======
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: #383838;
    text-align: justify;
>>>>>>> dbdd570... last commit
    /* margin-left: 100px; */
}

.left_core{
    margin-left: 100px;
}

.right_core{
    margin-right: 100px;
}

.buttons_core{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

<<<<<<< HEAD
=======
.five_resxs{
    margin-top: 90px !important;
}
.res_last_pages{
    margin-top: 90px !important;
}
.core_networks{
    margin-top: 90px !important;
}
.payment_coress{
    margin-top: 90px !important;
}

>>>>>>> dbdd570... last commit
.benefit_button{
    width: 228px;
    height: 40px;
    background: linear-gradient(90deg, #312CC2 1.7%, #4D52E6 47.74%, #5868FE 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    color: #fff;
    font-family: Poppins;
}

<<<<<<< HEAD
@media screen and (max-width:420px) {
=======
@media screen and (max-width:360px) {
    .only_this{
        margin-left: 140px !important;
    }
    .core_main{
        position: relative;
        bottom: 300px !important;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        /* top: 0;
        left: 0; */
    }
    .flexi_core{
        display: flex;
        justify-content: flex-start;
    }
    .decentra_mobile{
        width: 100px;
        margin-left: 20px ;
        position: relative;
        top: 20px;
    }


    .core_head{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 30px;
        color: #1B1B1B;
        position: relative;
        bottom: 80px;
        width: 156px;
        margin-left: 180px;
    }
    .core_para{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600 !important;
        font-size: 12px;
        line-height: 30px;
        color: #383838;
        width: 315px !important;
        position: relative;
        right: 110px;
        bottom: 30px;
        margin-left: 125px;
        padding:10px;
    }
    .res_images{
        position: relative;
        top: -300px;
        display: flex;
        justify-content: flex-end;
    }
    .new_core_img{
        position: relative;
        top: -10px !important;
    }
    .pay_core_img{
        position: relative;
        top: -280px;
    }
    .res_core_head{
        position: relative;
        top: 0px;        
    }
    .res_core_para{
        position: relative;
        top: 80px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 30px;
        color: #383838;
        width: 335px;
    }
    .core_network{
        position: relative;
        bottom: 80px;
    }
    .payment_cores{
        position: relative;
        bottom: 100px;
    }
    .buttons_core{
        position: relative;
        bottom: 180px;
    }
    .enter_sec_imsg{
        position: relative;
        bottom: 270px;
    }
    .core_networks{
        position: relative;
        bottom: 270px !important;
    }
    .payment_coress{
        position: relative;
        bottom: 270px !important;
    }
    .pay_core_img{
        position: relative;
        bottom: -50px !important;
    }
}

@media screen and (min-width:361px) and (max-width:420px) {
>>>>>>> dbdd570... last commit
    .only_this{
        margin-left: 140px !important;
    }
    .core_main{
        position: relative;
        bottom: 230px !important;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        /* top: 0;
        left: 0; */
    }
    .flexi_core{
        display: flex;
        justify-content: flex-start;
    }
    .decentra_mobile{
        width: 100px;
        margin-left: 20px ;
<<<<<<< HEAD
    }

=======
        position: relative;
        top: 20px;
    }


>>>>>>> dbdd570... last commit
    .core_head{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 30px;
        color: #1B1B1B;
        position: relative;
        bottom: 80px;
        width: 156px;
        margin-left: 180px;
    }
    .core_para{
        font-family: Poppins;
        font-style: normal;
<<<<<<< HEAD
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        color: #383838;
        width: 335px ;
=======
        font-weight: 600 !important;
        font-size: 12px;
        line-height: 30px;
        color: #383838;
        width: 330px !important;
>>>>>>> dbdd570... last commit
        position: relative;
        right: 110px;
        bottom: 30px;
        margin-left: 125px;
<<<<<<< HEAD
    }
    .res_images{
        position: relative;
        bottom: 240px;
        display: flex;
        justify-content: flex-end;
    }
=======
        padding:10px
    }
    .res_images{
        position: relative;
        top: -250px;
        display: flex;
        justify-content: flex-end;
    }
    .new_core_img{
        position: relative;
        top: -10px !important;
    }
    .pay_core_img{
        position: relative;
        top: -280px;
    }
>>>>>>> dbdd570... last commit
    .res_core_head{
        position: relative;
        top: 0px;        
    }
    .res_core_para{
        position: relative;
        top: 80px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        color: #383838;
<<<<<<< HEAD
        width: 335px;
    }
=======
        width: 330px;
    }
    
>>>>>>> dbdd570... last commit
    .core_network{
        position: relative;
        bottom: 80px;
    }
    .payment_cores{
        position: relative;
        bottom: 100px;
    }
    .buttons_core{
        position: relative;
        bottom: 130px;
    }
<<<<<<< HEAD
}

 @media screen and (min-width:700px) and (max-width: 1024px) {
=======
    .enter_sec_imsg{
        position: relative;
        bottom: 270px;
    }
    .core_networks{
        position: relative;
        bottom: 270px !important;
    }
    .payment_coress{
        position: relative;
        bottom: 270px !important;
    }
    .pay_core_img{
        position: relative;
        top: -250px;
        right: -10px;
    }
}

 @media screen and (min-width:790px) and (max-width: 1024px) {
>>>>>>> dbdd570... last commit
    .decentra_mobile{
        position: relative;
        right: 300px;
    }
    .left_core{
        position: relative;
        left: 130px;
        bottom: 250px;
    }
    .second_cores{
        position: relative;
        bottom: 180px;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
    }
    .res_core_para{
        width: 500px;
    }
    .res_images{
        position: relative;
        right: 80px;
    }
    .core_network{
        position: relative;
        bottom: 80px;
        right: 60px;
    }
    .payment_cores{
        position: relative;
        bottom: 220px;

    }
    .buttons_core{
        position: relative;
        bottom: 180px;
    }
} 

<<<<<<< HEAD

@media screen and (min-width:500px) and (max-width:768px){

=======
@media screen and (min-width:500px) and (max-width:540px) {
    .decentra_mobile{
        position: relative;
        right: 170px;
        width: 130px;
    }
    .first_core{
        position: relative;
        bottom: 110px;
        left: 150px;
        width: 200px;
    }
    .first_cores{
        position: relative;
        bottom: 130px;
        left: 220px;
        width: 300px;
    }
    .only_this{
        position: relative;
        right: 60px;
    }
    .res_images{
        position: relative;
        bottom: 250px;
    }
    .res_core_head{
        position: relative;
        left: 330px;
        top: 140px;
    }
    .res_core_para{
        position: relative;
        top: 350px;
        left: 50px;
    }
    .buttons_core{
        margin-bottom: 200px;
    }
    .core_para{
        width: 460px;
    }
    .right_core{
        position: relative;
         top: 200px;
    }
    .res_core_head{
        position: relative;
        top: 120px;
        right: 120px !important;
    }
    .first_cores{
        position: relative;
        top: -80px;
    }
}
@media screen and (min-width:620px) and (max-width:768px) {
    .decentra_mobile{
        position: relative;
        right: 200px;
    }
    .first_core{
        position: relative;
        bottom: 200px;
        left: 220px;
    }
    .first_cores{
        position: relative;
        bottom: 130px;
        left: 220px;
    }
    .only_this{
        position: relative;
        right: 60px;
    }
    .res_images{
        position: relative;
        bottom: 250px;
    }
    .res_core_head{
        position: relative;
        left: 330px;
        top: 140px;
    }
    .res_core_para{
        position: relative;
        top: 350px;
        left: 50px;
    }
    .buttons_core{
        margin-bottom: 200px;
    }
}

@media screen and (min-width:1701px) and (max-width:2000px){
    .core_div{
        position: relative;
        right: 50px;
    }
>>>>>>> dbdd570... last commit
}