.explanatory{
    width: 1240px;
    height: 540px;
    background: #EEEFFF;
    border-radius: 7px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.expla_head{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    color: #433ED1;
}

@media screen and (max-width: 420px){
    .explanatory{
        width: 350px !important;
        height: 172.45px;
        margin: auto;
        /* margin-left:20px; */
    }
}


@media screen and (min-width:500px) and (max-width:768px){
    .explanatory{
        width: 700px !important;
    }
 }

@media screen and (min-width:800px) and (max-width:1280px) {
    .explanatory{
        width: 1150px;
    }
}


@media screen and (max-width: 1024px){
    .explanatory{
        width: 900px;
    }
}

@media screen and (min-width:1400px) and (max-width:1900px){
    .explanatory{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
}