.ledger_main{
    margin-top: 50px;
}
.ledger_flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 40px;
    justify-content: space-between;
}
.ledger_heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    width: 397.89px;
    color: #383838;
}

.table_ledger{
    width: 637.31px;
    height: 354.49px;
    margin-right: 80px;
}

@media screen and (max-width: 420px) {
    .ledger_main{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .ledger_flex{
        position: relative;
        right: 30px;
    }
    .ledger_heading{
        width: 300px !important;
        font-size: 14px;
        line-height: 27px;
        position: relative;
        bottom: 40px;
        margin-left: 20px;
    }
    .table_ledger{
        width: 300px !important;
        position: relative;
        bottom: 100px;
    }
    .ledger_image_div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .ledger_heading{
        width: 400px;
    }
        .table_ledger{
            width: 400px;
        }
}

@media screen and (min-width:500px) and (max-width:768px){
    .ledger_heading{
        width: 90%;
    }
    .ledger_image_div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 70px;
    }
}